@using MVCControllerTestsWithLocalDb.Web.Helpers
@model IEnumerable<IntegratedCircuit>

<h2>Select ICs to Delete</h2>

@Html.RenderPageAlert()

@if (!Model.Any())
{
    <p>There are no items to show.</p>
    
    <p>@Html.ActionLink("<< Back to list.", "Index")</p>
    
}
else
{
    using (Html.BeginForm())
    {
        <ul>
            @foreach (var ic in Model)
            {
                <li class="checkbox">
                    <label>
                        <input type="checkbox" name="idsToDelete" value="@ic.Id" />
                        @ic.Code - @ic.Description
                    </label>
                </li>
            }
        </ul>

        <button type="submit" class="btn btn-danger">Delete ICs</button>
        @Html.ActionLink("cancel", "Index")
    }
}
